#pic{
    height: 700px;
     width: 100%;
     
 }
#brief{
	  margin: 100px 10%;
	  color: gold;
      
} 
.briefpage{ 
	      background-color: black;
}
div.col-4{ 
	    margin: 0px;
	    padding: 0px;
 }	
 #snap{
 	height: 250px;
 	width: 100%;
 	padding: 10px;
 }
 #wrk{
    padding: 50px;
 }
 #cont{
 	margin: 50px;
 }
 
 .card{ 
 	margin: 10px;
 }
 .card:hover{
        box-shadow: 0 22px 70px rgba(14,21,47,0.2),0 8px 50px rgba(14,21,47,0.2);
 }

 .com{
 	text-align: center;
 	color: gold;
 }
.container{
	color: gold;
 }
 #foot{
	background-color: black;
	color: gold;
 }
